
{% load static%}
<!-- <link href='{% static 'videos/list.css' %}' rel='stylesheet'> -->
<!-- <link href='{% static 'videos/style.css' %}' rel='stylesheet'> -->
<link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}">

<div class="table">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


    <!-- <link rel="stylesheet" type="text/css" href="{% static 'videos/main2.css' %}"> -->
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            <div class="navbar-nav ml-15">
             <a class="nav-item nav-link " href="#">Django Music</a>
            </div>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ml-15">
             <a class="nav-item nav-link " href="http://localhost:8000/upload/audio/">Upload</a>
            </div>
          </div>
        </div>
      </nav>
  
    
      <!-- <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
            </div>
            <h2><a class="article-title" href="#">{{ song.title }}</a></h2>
            <center><p class="article-content">{{ song.artist }}</p></center>
            <center><div><audio style="width:600px;" controls>
                    <source src="/media/{{song.id}}.mp3">
            </audio><div></center>
          </div>
        </article>
      <center><form method="POST" action="/delete/audio/"><button class="btn btn-danger btn-sm mt-1 mb-1" type="submit"><input hidden value={{song.id}} name="id">Delete</button></form></center>
    </ol>
  </div>
  </div>
</div><br> -->



<div class="main">
        <div class="app">
            <h5 class="text">PLAYING NOW</h5>
             
             <a class="nav-item nav-link " href="http://localhost:8000/audio/"><button class="btn arrow"> <i class="fas fa-arrow-left"> </button></i></a>
                
           

            {% comment %} <button class="btn arrow">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="btn bar">
                <i class="fas fa-bars"></i> {% endcomment %}
            </button>
            <div class="image">
                <img src="https://i.pinimg.com/originals/83/d6/60/83d660eedb45fe62fffb6da74e8b4cc4.jpg" style="width:200px">
                <br><br><br>
                <h2>{{song.title}}</h2>
                <p>{{song.artist}}</p>
            </div>

<div class="track"><audio id="player" src="/media/{{song.id}}.mp3"></audio>


 
  <button class="btn backward" onclick="document.getElementById('player').volume += 0.1"><i class="fas fa-plus"></i></button> 
    <button class="btn play" onclick="document.getElementById('player').play()"><i class="fas fa-play"></i></button> 

  <button class="btn backward" onclick="document.getElementById('player').volume -= 0.1"><i class="fas fa-minus"></i></button> 
</div>


            <!-- <div class="track"></div> -->

            {% comment %} <button class="btn heart">
                <i class="fas fa-heart"></i>
            </button>
            <button class="btn backward">
                <i class="fas fa-backward"></i>
            </button>
            <button src="/media/{{song.id}}.mp3" class="btn play">
                <i class="fas fa-play"></i>
            </button>
            <button class="btn forward">
                <i class="fas fa-forward"></i> {% endcomment %}
            {% comment %} </button> {% endcomment %}
        </div>
    </div>
 

 